@use "../../scss/variables" as *;

$cardGap: 10px;

.projectCard {
  width: 380px;
  border-radius: 3px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  padding: $cardGap;
  display: flex;
  flex-direction: column;
  gap: $cardGap;
  transition: all 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 0 8px 0 $theme-main;
  }

  .imgContainer {
    position: relative;
    width: 100px;
    aspect-ratio: 1;
    overflow: hidden;
    .coverImg {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .categoryIcon {
    width: 3rem;
    padding: 5px;
    aspect-ratio: 1;
    border-radius: 50%;
  }
}

.flexRow {
  display: flex;
  gap: $cardGap;
}

.tags {
  display: flex;
  gap: $cardGap;
  .tag {
    font-size: 13px;
  }
}

.description {
  text-align: justify;
  line-height: 1.2;
  height: 6em;
}

.postedDate {
  font-size: 13px;
  color: #666666;
}

.alignCenter {
  align-items: center;
}

.footer {
  border-top: 0.5px solid gray;
  padding-top: $cardGap;
  display: flex;
  justify-content: space-between;
  .footerOptions {
    display: flex;
    align-items: center;
  }
}

.projectLink{
    font-family: $font-secondary;
    color:blue;
    font-weight: bold;
}
