.dashboard {
  min-height: 100vh;
  .projectForm{
    width: 400px;
  }
}

.imgContainer {
  width: 100px;
  aspect-ratio: 1;
  overflow: hidden;
  .uploadImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
