@use "../../scss/variables" as *;

.nav {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  background-color: transparent;
  color: white;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s linear;
  z-index: 999;
  &.active {
    position: sticky;
    background-color: $theme-main;
  }
}

.logo {
  aspect-ratio: 1.2;
  width: 4rem;
}

.menuBtn {
  display: none;
  @include media-tablet-sm {
    display: block;
    font-size: 2rem;
    cursor: pointer;
  }
}
