@use "../../scss/variables" as *;

.footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  color: $text-main;
  .icons {
    display: flex;
    gap: 1rem;
    .socialIcon {
      font-size: 2em;
      color: white;
      background-color: $theme-main-hover;
      padding: 8px;
      border-radius: 5px 5px 5px 0;
      &:hover {
        background-color: $theme-main;
      }
    }
  }
}

.link{
    padding:0.3em 0.5em;
}

.borderRt{
    border-right: 2px solid black;
}
