@use "../../scss/variables" as *;

.settingPage {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  max-width: 900px;
  padding: 1rem;
  .section {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid $border;
    border-radius: 8px;
    .labelEl {
      width: object-fit;
      font-size: 0.9em;
    }
    .inputEl {
      font-size: 1em;
      padding: 0.2em 0.5em;
      background-color: rgb(247, 242, 242);
    }
    .positionDiv {
      position: relative;
      width: 100%;
      .bioSaveBtn {
        position: absolute;
        top: 0;
        transform: translateX(-120%)
      }
      .textAreaEl {
        width: 100%;
        height: 9em;
        padding: 0.3em;
        border-radius: 5px;
        resize: none;
        text-align: justify;
      }
    }
  }
}

.profileDeco {
  width: 200px;
  object-fit: cover;
  object-position: center;
  @include media-mobile-lg {
    width: 300px;
  }
}

.pageHeader {
  display: flex;
  gap: 2rem;
  align-items: center;
  @include media-mobile-lg {
    flex-direction: column;
    gap: 1rem;
  }
}

.inputRow {
  display: flex;
  gap: 2rem;
  align-items: center;
  border-top: 1px solid $border;
  padding-top: 1em;
}

.colorSecondary {
  color: $text-secondary;
}

.fileInputEl {
  display: none;
}
